<!DOCTYPE html>
<html>
  <head>
    <title>ChangeLog</title>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

    <style type="text/css">

      @font-face {
        font-family: sans-serif;
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: sans-serif;
        font-weight: normal;
        font-style: normal;
      }

      body {
        background-color: #f4f3f0;
        min-width: 450px;
        padding: 0;
        margin: 0;
        color: #292C2F;
        font-family: DINPro-Regular, Arial;
        font-size: 13px;
      }

      .content {
        width: 800px;
        margin: 22px auto;
      }

      .content-inner {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: white;
        padding: 1px 30px;
        -webkit-box-shadow: 0 3px 5px #d4d5d5;
        -moz-box-shadow: 0 3px 5px #d4d5d5;
        -o-box-shadow: 0 3px 5px #d4d5d5;
        box-shadow: 0 3px 5px #d4d5d5;
      }

      h1, h2 , h3 {
        font-family: sans-serif;
        color: #000;
        line-height: 1.321em;
        font-weight: normal;
        margin: 0;
      }

      h1 {
        margin-bottom: 10px;
        font-size: 30px;
      }

      h2 {
        margin: 25px 0 10px;
        font-size: 18px;
      }

      h3 {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 5px;
        padding-left: 15px;
      }

      a, a:visited, a:link, .num {
        color: #4781c6;
        text-decoration: none;
      }

      a:hover {
        color: #f2b500;
        text-decoration: none;
      }

      ul, li {
        list-style: none;
      }

      ul {
        margin: 0;
        margin-bottom: 10px;
        padding-left: 30px;
      }

      .date {
        font-size: 13px;
        font-style: italic;
      }

      .story {
        margin-bottom: 25px;
      }

    </style>

    <link rel="shortcut icon" href="assets/favicon.ico" />
  </head>

  <body>
    <div class="content">
      <h1>Change Log @ <%= format date %></h1>
      <div class="content-inner">

        <% for release in releases %>
        <h2><%= release.comment %> <span class="date">(<%= format release.date %>)</span></h2>

          <% for story in release.stories(history) %>
          <div class="story">

            <% if story.valid? %>
            <h3>
              <a href="<%= story.url %>"><span class="num"><%= story.uid %></span></a>
              <span class="name"><%= story.title %></span>
            </h3>
            <% else %>
            <h3>
              <span class="num"><%= story.uid %></span>
              <span class="name"><%= story.error %></span>
            </h3>
            <% end %>

            <ul class="commits">
              <% for commit in story.commits %>
              <li><%= commit %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <% if release.unreconized?(history) %>
          <div class="story">

            <h3>
              <span class="name">Unreconized</span>
            </h3>

            <ul class="commits">
              <% for commit in release.unreconized(history) %>
              <li><%= commit.short %> <%= commit %></li>
              <% end %>
            </ul>

          </div>
          <% end %>

        <% end %>
      </div>
    </div>
  </body>
</html>
